ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    color:#ffffff;
}

.nav-link {
    float: left;
    display: block;
    padding: 14px 16px;
}

.nav-link:hover {
    background-color: #00aaaa;
}

.nav-link.active {
    background-color: #00aaaa;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

div.header {
    background-color: #777777;
}