<div class="header">
    <div class="image">
    <h1>ValTT</h1>
   </div>
    <nav>
        <ul>
            <li class="nav-link" routerLink="/about" routerLinkActive="active">About</li>
            <li class="nav-link" routerLink="/event_list" routerLinkActive="active">Events</li>
            <li class="nav-link" routerLink="/team_list" routerLinkActive="active">Teams</li>
            <li class="nav-link" *ngIf="!loggedIn()" routerLink="/login" routerLinkActive="active">Login</li>
            <li class="nav-link" *ngIf="!loggedIn()" routerLink="/signup" routerLinkActive="active">Signup</li>
            <li class="nav-link" *ngIf="loggedIn()" (click)="logoutUser()">Logout</li>
            <li class="nav-link" routerLink="/favourites" routerLinkActive="active">Favourites</li>
            <!--<li class="nav-link" routerLink='**' routerLinkActive="active">PageNotFound</li> -->
        </ul>
    </nav>
</div>