<div class="header">
    <h1>ValTT</h1>
    <nav>
        <ul>
            <li class="nav-link" routerLink="/about" routerLinkActive="active">About</li>
            <li class="nav-link" routerLink="/event_list" routerLinkActive="active">Events</li>
            <li class="nav-link" routerLink="/team_list" routerLinkActive="active">Teams</li>
            <li class="nav-link" (click)="onLoginClick()">Login</li>
            <li class="nav-link" (click)="onSignupClick()">Signup</li>
            <li class="nav-link">Favourites</li>
            <li class="nav-link" routerLink='**' routerLinkActive="active">PageNotFound</li>
        </ul>
    </nav>
</div>
<div class="dialog-box" [style.display]="signupDisplay">
    <form class=dialog>
        <a>Signup Form</a>
        <button>Close</button>
        <button>Submit</button>
    </form>
</div>
<div class="dialog-box" [style.display]="loginDisplay">
    <form class=dialog>
        <a>Login Form</a>
        <button>Close</button>
        <button>Submit</button>
    </form>
</div>