ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    color:#ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.nav-link {
    float: left;
    display: block;
    padding: 14px 16px;
}

.nav-link:hover {
    background-color: #00aaaa;
    border: 1px solid rgb(255, 255, 255);
}

.nav-link.active {
    background-color: #00aaaa;
    border: 1px solid rgb(255, 255, 255);
}

h1 {
    text-align: center;
    padding-top: 22px;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.image{
    width:auto;
    background-image:url('../../assets/img/Picture2.png');
    background-repeat: no-repeat;
    background-color:rgba(255, 255, 255, 0.13);
    background-position-x: -65px;
}
div.header {
    background-color: #777777;
}
