<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap" rel="stylesheet">

  <ol>
    <div class='topspace'>
      <h1>{{match.event}}</h1>
  </div>
<div class="container">
  <div class="block">
    <h1 class="bettext">BETTING</h1>
     <a href="https://gg.bet/en">
    <div class="image"></div>
  </a>
  <p class="betp">{{match.teams[0].name}} vs {{match.teams[1].name}}</p>
  <p class="betp">2.43 to 5</p>
  </div>
</div>
</ol>

<ol>
<h1>"{{match.teams[0].name}}" {{match.score[0]}} - {{match.score[1]}} "{{match.teams[1].name}}"</h1>
<h3 class="nav-link" routerLink="/game/1" routerLinkActive="active">MAP 1: {{match.games[0].mapName}} {{match.games[0].time}} {{match.games[0].score}}</h3>
<h3 class="nav-link" routerLink="/game/2" routerLinkActive="active">MAP 2: {{match.games[1].mapName}} {{match.games[1].time}} {{match.games[0].score}}</h3>
<h3 class="nav-link" routerLink="/game/3" routerLinkActive="active">MAP 3: {{match.games[2].mapName}} {{match.games[2].time}} {{match.games[0].score}}</h3>
<h3 class="nav-link" routerLink="/game/4" routerLinkActive="active">MAP 4: {{match.games[3].mapName}} {{match.games[3].time}} {{match.games[0].score}}</h3>
</ol>