<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap" rel="stylesheet">

  <ol>
    <div class='topspace'>
      <h1>{{match.event}}</h1>
  </div>
<div class="container">
  <div class="block">
    <h1 class="bettext">BETTING</h1>
     <a href="https://gg.bet/en">
    <div class="image"></div>
  </a>
  <p class="betp">{{match.teams[0]}} vs {{match.teams[1]}}</p>
  <p class="betp">2.43 to 5</p>
  </div>
</div>
</ol>

<ol>
<h1>"{{match.teams[0]}}" {{match.score[0]}} - {{match.score[1]}} "{{match.teams[1]}}"</h1>
<h3 class="nav-link" routerLink="/game/1" routerLinkActive="active">MAP 1: {{match.mapsPlayed[0]}} {{match.gamesTime[0]}} {{match.gameScore[0]}} {{activeStatusString1}}</h3>
<h3 class="nav-link" routerLink="/game/2" routerLinkActive="active">MAP 2: {{match.mapsPlayed[1]}} {{match.gamesTime[1]}} {{match.gameScore[1]}} {{activeStatusString2}}</h3>
<h3 class="nav-link" routerLink="/game/3" routerLinkActive="active">MAP 3: {{match.mapsPlayed[2]}} {{match.gamesTime[2]}} {{match.gameScore[2]}} {{activeStatusString3}}</h3>
<h3 class="nav-link" routerLink="/game/4" routerLinkActive="active">MAP 4: {{match.mapsPlayed[3]}} {{match.gamesTime[3]}} {{match.gameScore[3]}} {{activeStatusString4}}</h3>
</ol>