<div class="bracket">
    <ul class="round" *ngFor="let round of rounds; let i = index">
        <ng-container *ngFor="let match of round; let ii = index">
            <li class="group" *ngIf="ii%2 != 0" [ngClass]="{a: match != (matches.length-1)}">
                <div class="line">
                    <div class="match" [ngClass]="{b: i != 0}">
                        <div class="match-teams">
                            <div *ngIf="i == 0">
                                <div>
                                    <select class="team" (change)="selectedTeam($event, match, 0)" [value]="matches[0].match.teams[0].name">
                                        <option *ngFor="let team of teams">{{team.name}}</option>
                                    </select>
                                    <button (click)="win(match, 0)" style="width:2em; background-color:green">+</button>
                                </div>
                                <div>
                                    <select class="team" (change)="selectedTeam($event, match, 1)" [value]="matches[0].match.teams[1].name">
                                        <option *ngFor="let team of teams">{{team.name}}</option>
                                    </select>
                                    <button (click)="win(match, 1)" style="width:2em; background-color:green">+</button>
                                </div>
                            </div>
                            <div *ngIf="i != 0">
                                <select class="team" (change)="selectedTeam($event, match, 0)" [value]="matches[0].match.teams[0].name">
                                    <option *ngFor="let team of teams">{{team.name}}</option>
                                </select>
                                <select class="team" (change)="selectedTeam($event, match, 1)" [value]="matches[0].match.teams[1].name">
                                    <option *ngFor="let team of teams">{{team.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="match" [ngClass]=" {b: i !=0 } ">
                        <div class="match-teams">
                            <select class="team" placeholder="Select Team" (change)="selectedTeam($event, match+1, 0)" [value]="matches[1].match.teams[0].name">
                                <option *ngFor="let team of teams">{{team.name}}</option>
                            </select>
                            <select class="team" placeholder="Select Team" (change)="selectedTeam($event, match+1, 1)" [value]="matches[0].match.teams[1].name">
                                <option *ngFor="let team of teams">{{team.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </li>
            <li class="group" *ngIf="match==(matches.length-1)">
                <div class="line">
                    <div class="match" [ngClass]="{b: i !=0 }">
                        <div class="match-teams">
                            <div *ngIf="i == 0">
                                <select class="team" [(ngModel)]="matches[0].match.teams[0].name">
                                <option value="" disabled>Select</option>
                                <option *ngFor="let team of teams">{{team.name}}</option>
                            </select>
                                <select class="team" [(ngModel)]="matches[0].match.teams[1].name">
                                <option value="" disabled>Select</option>
                                <option *ngFor="let team of teams">{{team.name}}</option>
                            </select>
                            </div>
                            <div *ngIf=" i != 0">
                                <div class="team">T1</div>
                                <div class="team">T2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ng-container>
    </ul>
</div>