<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap" rel="stylesheet">


<div class="image">
<h1>We appreciate your attention, enjoy!</h1>
<p>     Several millions of dollars' worth of prize money are being won by professional players around the world each year. The latest game released by, the industry giant, Riot Games has amazing potential on the Esports scene due to its large player base (over 3,000,000 daily players in its beta) and, dedicated fan base (an average of over 50,000 viewers on Twitch.tv — making it the 9th most popular game at the time of writing this).
    Every Esport needs a place for fans, and viewers alike, to learn about the habits of their favourite teams and players. Casual players often use this information to learn about the game and improve their individual skill. Valorant does not have an official professional league yet, and so, fans of the game do not have the means to follow their favourite teams and players without exercising great effort. We at MPOD Solutions mean to fix this issue and create a place where all fan made tournaments (and in the future, official tournaments) can be easily tracked by league, team, and even the individual player. This will have the dual benefit of providing a singular space where the habits of professional players can be observed and bringing Valorant further into the mainstream Esports scene by creating a consolidated environment for professional players to compete.
 </p>
</div>