h1 {
    text-align: center;
}
p{
    padding: 9px;
    margin: 10px;
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
}
.image{
    height:40em; background-size:contain; width:auto;
    background-image:url('../../assets/img/OMEN.png');
    background-position:50% 10%;
    background-repeat: no-repeat;
}