h1 {
    font-family: 'Exo', sans-serif;
    margin-top: 2em;
    text-align: center;
}
p{
    font-family: 'Exo', sans-serif;
    font-size: 1.5em;
    margin: 1em;
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
    
}
.image{
    height:44em; 
    background-image:url('../../assets/img/OMEN.png');
    background-position-y: bottom;
    background-color:rgb(228, 218, 218);
    font-family: 'Exo', sans-serif;
    font-size:20px;
    color:rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position-x:100%

}


