<div class="event-list-component">
    <h3>To Do: Get Featured Events from Database</h3>
    <h1>Featured Events</h1>
    <div class="featured-events">
        <div class="event running" (click)="loadEvent('TestEvent1')">
            <h3>Event1</h3>
            <img src="../../assets/img/Event1.jpg" alt="Event1" class="event-img">
        </div>
        <div class="event notRunning" (click)="loadEvent('TestEvent1')">
            <h3>Event1</h3>
            <img src="../../assets/img/Event1.jpg" alt="Event1" class="event-img">
        </div>
    </div>
    <div class="verified-events">
        <h1>Verified Events</h1>
        <div class="event" *ngFor="let event of verifiedEvents" (click)="loadEvent(event.id)">
            <div [ngClass]="{'running': event.runninStatus,'notRunning': event.runninStatus}">
                {{event.name}}
            </div>
        </div>
    </div>
    <div class="unverified-events">
        <h1>Unverified Events</h1>
        <div class="unverified-container">
            <div class="event">Event 2</div>
        </div>
    </div>
</div>
<hr>