<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap" rel="stylesheet">


<h1>FEATURED EVENTS LIST:</h1>
    <div class="flex-container">
        <div class="nav-link" routerLink="/event/1" routerLinkActive="active">SUPER TOURNY</div>
        <div>VALO GAMERS EVENT</div>
        <div>EXAMPLE NAME CUP</div>  
      </div>

<h1>RECENT EVENTS LIST:</h1>
<div class="flex-container">
    <div >ABC VALO</div>
    <div>SHOOTERS CUP</div>
    <div>AIM GAMERS TOURNAMENT</div>  
  </div>

  <style>
    .flex-container {
      display: flex;
      background-color: DodgerBlue;
    }
    
    .flex-container > div {
      background-color: #f1f1f1;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
    }
    </style>

    