

.nav-link:hover {
    outline: 1px solid rgb(0, 0, 0);
    animation-name: example;
          animation-duration: 2s;
          animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

h1 {
  font-family: 'Exo', sans-serif;
}
        .flex-container {
          font-family: 'Exo', sans-serif;  
          display: flex;
          background-color: DodgerBlue;
          display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
        }
        
        .flex-container > div {
          background-color: #1f545e;
          border-radius: 1px;
          
          margin: 30x;
          padding: 20px;
          font-size: 40x;
        }
        @keyframes example {
    from {background-color: rgb(255, 255, 255);}
    to {background-color: rgb(203, 204, 152);}
  }

  

p{
  font-family: 'Exo', sans-serif;
  padding: 9px;
  margin: 10px;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
}
.image{
  height:40em; background-size:contain; width:auto;
  background-image:url('../../assets/img/OMEN.png');
  background-position:50% 10%;
  background-repeat: no-repeat;
}