
<div class="dialog-box" [style.display]="loginDisplay">
    <div class="dialog">
        <form (ngSubmit)="onLoginSubmit()">
            <h2>LOGIN:</h2>
     
            <div>
                <label>USERNAME: </label>
                <input required minlength="4" maxlength="12" ngModel name="username" #userName="ngModel" type="text" id="username" [(ngModel)]="loginData.login">
                <div class="alert alert-danger" *ngIf="userName.touched && !userName.valid">A valid username is required.</div>
            </div>

            <div>
                <label>PASSWORD: </label>
                <input required minlength="4" maxlength="20" ngModel name="password" #password="ngModel" type="password" id="password" [(ngModel)]="loginData.password">
                <div class="alert alert-danger" *ngIf="password.touched && !password.valid"> A valid password is required.</div>
            </div>
            
                <button>SUBMIT</button>
        </form>
        
        <div class="buttonHolder2">
        <button (click)="onLoginClose()">CLOSE</button>
 </div>
    </div>
</div>