<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap" rel="stylesheet">

<ol class='topspace'>
  <h1>{{teamsplaying[0]}} {{teamgamescore[0]}} -  {{teamgamescore[1]}} {{teamsplaying[1]}}</h1>
<h2 class='one'>{{mapname}}</h2>
</ol>

<ol>
  <h1>ROUND OVERVIEW</h1>

<div class="grid-container">
  <div>1<p class="image"></p><p class="roundText">DEFUSE</p></div>
  <div>2<p class="image2"></p><p class="roundText">DETONATION</p></div>
  <div>3<p class="image"></p><p class="roundText">DETONATION</p></div>  
  <div>4<p class="image2"></p><p class="roundText">ELIMINATION</p></div>
  <div>5<p class="image"></p><p class="roundText">DETONATION</p></div>
  <div>6<p class="image2"></p><p class="roundText">ELIMINATION</p></div>  
  <div>7<p class="image2"></p><p class="roundText">ELIMINATION</p></div>
  <div>8<p class="image"></p><p class="roundText">DEFUSE</p></div>
  <div>9<p class="image2"></p><p class="roundText">DETONATION</p></div>
  <div>10<p class="image2"></p><p class="roundText">ELIMINATION</p></div>
  <div>11<p class="image"></p><p class="roundText">ELIMINATION</p></div>
  <div>12<p class="image"></p><p class="roundText">DEFUSE</p></div>
  <div>13<p class="image"></p><p class="roundText">DETONATION</p></div>
  <div>14<p class="image2"></p><p class="roundText">DETONATION</p></div>
  <div>15<p class="image2"></p><p class="roundText">ELIMINATION</p></div>
  <div>16<p class="image"></p><p class="roundText">DETONATION</p></div>
  <div>17<p class="image"></p><p class="roundText">ELIMINATION</p></div>
  <div>18<p class="image"></p><p class="roundText">ELIMINATION</p></div>
  <div>19<p class="image"></p><p class="roundText">ELIMINATION</p></div>
  <div>20<p class="image"></p><p class="roundText">DEFUSE</p></div>
  <div>21<p class="image"></p><p class="roundText">DETONATION</p></div>

</div>
</ol>

<ol>
  <h1>{{teamsplaying[0]}}</h1>
  <p class='one'>MAP STATISTICS</p>
  <table>
      <tr>
        <th>Player</th>
        <th>ACS</th>
        <th>K</th>
        <th>D</th>
        <th>A</th>
        <th>+/-</th>
        <th>ADR</th>
        <th>HS%</th>
        <th>FK</th>
        <th>FD</th>
      </tr>
  </table>

  <li class="nav-link" routerLink="/player/{{team1[0]}}" routerLinkActive="active">{{team1[0]}}
    <table>
      <tr>
        <th> </th>
        <th *ngFor="let stats of gamestats0, let i = index">{{stats}} </th>
      </tr>
  </table>
  </li>

  <li class="nav-link" routerLink="/player/{{team1[1]}}" routerLinkActive="active">{{team1[1]}}
    <table>
      <tr>
        <th> </th>
        <th *ngFor="let stats of gamestats1, let i = index">{{stats}} </th>
      </tr>
  </table>
  </li>
  
  <li class="nav-link" routerLink="/player/{{team1[2]}}" routerLinkActive="active">{{team1[2]}}
    <table>
      <tr>
        <th> </th>
        <th *ngFor="let stats of gamestats2, let i = index">{{stats}} </th>
      </tr>
  </table>
  </li>
  <li class="nav-link" routerLink="/player/{{team1[3]}}" routerLinkActive="active">{{team1[3]}}
    <table>
      <tr>
        <th> </th>
        <th *ngFor="let stats of gamestats3, let i = index">{{stats}} </th>
      </tr>
  </table>
  </li>
  <li class="nav-link" routerLink="/player/{{team1[4]}}" routerLinkActive="active">{{team1[4]}}
    <table>
      <tr>
        <th> </th>
        <th *ngFor="let stats of gamestats4, let i = index">{{stats}} </th>
      </tr>
  </table>
  </li>
</ol>

<ol>
  <h1>{{teamsplaying[1]}}</h1>
  <p class='one'>MAP STATISTICS</p>
  <table>
      <tr>
        <th>Player</th>
        <th>ACS</th>
        <th>K</th>
        <th>D</th>
        <th>A</th>
        <th>+/-</th>
        <th>ADR</th>
        <th>HS%</th>
        <th>FK</th>
        <th>FD</th>
      </tr>
  </table>
  <li class="nav-link" routerLink="/player/{{team2[0]}}" routerLinkActive="active">{{team2[0]}}
    <table>
      <tr>
        <th> </th>
        <th *ngFor="let stats of gamestats5, let i = index">{{stats}} </th>
      </tr>
  </table>
  </li>

  <li class="nav-link" routerLink="/player/{{team2[1]}}" routerLinkActive="active">{{team2[1]}}
    <table>
      <tr>
        <th> </th>
        <th *ngFor="let stats of gamestats6, let i = index">{{stats}} </th>
      </tr>
  </table>
  </li>
  
  <li class="nav-link" routerLink="/player/{{team2[2]}}" routerLinkActive="active">{{team2[2]}}
    <table>
      <tr>
        <th> </th>
        <th *ngFor="let stats of gamestats7, let i = index">{{stats}} </th>
      </tr>
  </table>
  </li>
  <li class="nav-link" routerLink="/player/{{team2[3]}}" routerLinkActive="active">{{team2[3]}}
    <table>
      <tr>
        <th> </th>
        <th *ngFor="let stats of gamestats8, let i = index">{{stats}} </th>
      </tr>
  </table>
  </li>
  <li class="nav-link" routerLink="/player/{{team2[4]}}" routerLinkActive="active">{{team2[4]}}
    <table>
      <tr>
        <th> </th>
        <th *ngFor="let stats of gamestats9, let i = index">{{stats}} </th>
      </tr>
  </table>
  </li>
</ol>