ol {
    background: #6aa7b6dc;
    padding: 10px;
    outline: 1px solid black;
}

.rClass {
    background-color: rgba(184, 210, 212, 0.8);
}

.rClass:hover {
    background-color: rgba(155, 155, 155, 0.8);
    cursor: pointer;
}

.pushed {
    background-color: rgba(155, 155, 155, 0.8);
}

.grid-container {
    font-family: 'Exo', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 2px;
    background-color: #2196F3;
    padding: 5px;
}

.grid-container>div {
    font-family: 'Exo', sans-serif;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.image {
    height: 3em;
    background-size: 25%;
    width: auto;
    background-image: url('../../assets/img/C9.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
}

.image2 {
    height: 3em;
    background-size: 25%;
    width: auto;
    background-image: url('../../assets/img/MIBR.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
}

.roundText {
    font-size: .5em;
}

button {
    display: block;
}

h1 {
    text-align: center;
    font-family: 'Exo', sans-serif;
}

h2 {
    font-family: 'Exo', sans-serif;
    background: #6aa7b6dc;
    margin-left: 15px;
    border: 1px solid black;
}

h3 {
    font-family: 'Exo', sans-serif;
    background: #6aa7b6dc;
    margin-left: 35px;
    border: 1px solid black;
}

table tr th {
    padding-right: 60px;
    padding-left: 60px;
    font-family: 'Exo', sans-serif;
}

table tr td {
    text-align: center;
}

p {
    font-family: 'Exo', sans-serif;
}

.one {
    text-align: center;
}

ol li {
    font-family: 'Exo', sans-serif;
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
    border: 1px solid black;
}

.nav-link:hover {
    border: 1px solid rgb(0, 0, 0);
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 100;
    animation-direction: alternate;
}

@keyframes example {
    from {
        background-color: rgb(255, 255, 255);
    }
    to {
        background-color: #6aa7b6dc;
    }
}