<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap" rel="stylesheet">

<ol class='topspace'>
    <h2 class='one'></h2>
</ol>

<ol>
    <h1>ROUND OVERVIEW</h1>
    <div class="grid-container">
        <div *ngFor="let round of game.rounds; let i = index" (click)="setStats()">{{i+1}}
            <p *ngIf= "round.winner == 'CLOUD 9'" class="image"></p>
            <p *ngIf= "round.winner == 'MIBR'" class="image2"></p>
            <p class="roundText">{{round.winType}}</p>
        </div>
    </div>
</ol>

<ol>
    <h1>MAP STATISTICS</h1>
    <table>
        <tr>
            <th>Player</th>
            <th>ACS</th>
            <th>K</th>
            <th>D</th>
            <th>A</th>
            <th>+/-</th>
            <th>ADR</th>
            <th>HS%</th>
            <th>FK</th>
            <th>FD</th>
        </tr>

        <tr *ngFor="let player of game.rounds[selected].teams[0].players">
            <td>{{player.player}}</td>
            <td>{{player.averageCombatScore}}</td>
            <td>{{player.kills}}</td>
            <td>{{player.deaths}}</td>
            <td>{{player.assists}}</td>
            <td>{{player.plusMinus}}</td>
            <td>{{player.averageDamageRound}}</td>
            <td>{{player.headShotPercentage}}</td>
            <td>{{player.firstKills}}</td>
            <td>{{player.firstDeaths}}</td>
        </tr>
    <hr/>
        <tr *ngFor="let player of game.rounds[selected].teams[1].players">
            <td>{{player.player}}</td>
            <td>{{player.averageCombatScore}}</td>
            <td>{{player.kills}}</td>
            <td>{{player.deaths}}</td>
            <td>{{player.assists}}</td>
            <td>{{player.plusMinus}}</td>
            <td>{{player.averageDamageRound}}</td>
            <td>{{player.headShotPercentage}}</td>
            <td>{{player.firstKills}}</td>
            <td>{{player.firstDeaths}}</td>
        </tr>
    </table>

</ol>