<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap" rel="stylesheet">

<ol class='topspace'>
    <h1>test</h1>
    <h2 class='one'></h2>
</ol>

<div *ngIf="true">
    NG IF TRUE
</div>
<div *ngFor="let i of array">
    {{i}}
</div>

<ol>
    <h1>ROUND OVERVIEW</h1>

    <div class="grid-container">
        <div>1
            <p class="image"></p>
            <p class="roundText">{{game.rounds[1].winType}}</p>
        </div>
        <div>2
            <p class="image2"></p>
            <p class="roundText">{{game.rounds[2].winType}}</p>
        </div>
        <div>3
            <p class="image"></p>
            <p class="roundText">DETONATION</p>
        </div>
        <div>4
            <p class="image2"></p>
            <p class="roundText">ELIMINATION</p>
        </div>
        <div>5
            <p class="image"></p>
            <p class="roundText">DETONATION</p>
        </div>
        <div>6
            <p class="image2"></p>
            <p class="roundText">ELIMINATION</p>
        </div>
        <div>7
            <p class="image2"></p>
            <p class="roundText">ELIMINATION</p>
        </div>
        <div>8
            <p class="image"></p>
            <p class="roundText">DEFUSE</p>
        </div>
        <div>9
            <p class="image2"></p>
            <p class="roundText">DETONATION</p>
        </div>
        <div>10
            <p class="image2"></p>
            <p class="roundText">ELIMINATION</p>
        </div>
        <div>11
            <p class="image"></p>
            <p class="roundText">ELIMINATION</p>
        </div>
        <div>12
            <p class="image"></p>
            <p class="roundText">DEFUSE</p>
        </div>
        <div>13
            <p class="image"></p>
            <p class="roundText">DETONATION</p>
        </div>
        <div>14
            <p class="image2"></p>
            <p class="roundText">DETONATION</p>
        </div>
        <div>15
            <p class="image2"></p>
            <p class="roundText">ELIMINATION</p>
        </div>
        <div>16
            <p class="image"></p>
            <p class="roundText">DETONATION</p>
        </div>
        <div>17
            <p class="image"></p>
            <p class="roundText">ELIMINATION</p>
        </div>
        <div>18
            <p class="image"></p>
            <p class="roundText">ELIMINATION</p>
        </div>
        <div>19
            <p class="image"></p>
            <p class="roundText">ELIMINATION</p>
        </div>
        <div>20
            <p class="image"></p>
            <p class="roundText">DEFUSE</p>
        </div>
        <div>21
            <p class="image"></p>
            <p class="roundText">DETONATION</p>
        </div>
        <div>22
            <p class="image2"></p>
            <p class="roundText">DEFUSE</p>
        </div>
    </div>
</ol>

<ol>
    <h1></h1>
    <p class='one'>MAP STATISTICS</p>
    <table>
        <tr>
            <th>Player</th>
            <th>ACS</th>
            <th>K</th>
            <th>D</th>
            <th>A</th>
            <th>+/-</th>
            <th>ADR</th>
            <th>HS%</th>
            <th>FK</th>
            <th>FD</th>
        </tr>
    </table>
