
h1{
    text-align: center;
}
.nav-link{
    background-color: #f8cdcd; 

    margin-left: 0px;
}
table {
        background: #f1bdbd; 

        margin-left: 65px;
    text-align: center;
    padding-top: 33px;
    color: rgb(15, 10, 10);
    
}
.nav-link:hover {
    border: 1px solid rgb(0, 0, 0);
    animation-name: example;
          animation-duration: 4s;
          animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}


p{
    padding: 9px;
    margin: 10px;
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
}
.image{
    height:40em; background-size:contain; width:auto;
    background-image:url('../../assets/img/OMEN.png');
    background-position:50% 10%;
    background-repeat: no-repeat;
}
@keyframes example {
    from {background-color: rgb(255, 255, 255);}
    to {background-color: rgb(203, 204, 152);}
  }
