<h1>Bracket</h1>
<div class="bracket">
    <ul class="round">
        <li class="match a">
            <div class="line">
                <div class="spacer"></div>
                <div class="team">Team 1</div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="team">Team 2</div>
                <div class="spacer"></div>
            </div>
        </li>
        <li class="match a">
            <div class="line">
                <div class="spacer"></div>
                <div class="team">Team 3</div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="team">Team 4</div>
                <div class="spacer"></div>
            </div>
        </li>
        <li class="match a">
            <div class="line">
                <div class="spacer"></div>
                <div class="team">Team 5</div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="team">Team 6</div>
                <div class="spacer"></div>
            </div>
        </li>
        <li class="match a">
            <div class="line">
                <div class="spacer"></div>
                <div class="team">Team 7</div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="team">Team 8</div>
                <div class="spacer"></div>
            </div>
        </li>
    </ul>
    <ul class="round">
        <li class="match a">
            <div class="line">
                <div class="spacer"></div>
                <div class="team b">Team 1</div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="team b">Team 3</div>
                <div class="spacer"></div>
            </div>
        </li>
        <li class="match a">
            <div class="line">
                <div class="spacer"></div>
                <div class="team b">Team 5</div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="team b">Team 7</div>
                <div class="spacer"></div>
            </div>
        </li>
    </ul>
    <ul class="round">
        <li class="match a">
            <div class="line">
                <div class="spacer"></div>
                <div class="team b">Team 1</div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="team b">Team 3</div>
                <div class="spacer"></div>
            </div>
        </li>
    </ul>
    <ul class="round">
        <li class="match">
            <div class="line">
                <div class="spacer"></div>
                <div class="team b">Team 1</div>
                <div class="spacer"></div>
            </div>
        </li>
    </ul>
</div>