<h1>"SUPER TOURNY" VALORANT EVENT 1</h1>
<h1>- </h1>
<h2>[.bracket diagram here]</h2>
<h1> -</h1>

<h2  class="nav-link" routerLink="/match/1" routerLinkActive="active">Match 1</h2>
<p>(MAPLIST) ASCENT. DESCENT. WAREHOUSE.</p>
<table>
  <tr>
    <th>BEST OF</th>
    <th>5</th>
  </tr>
  <tr>
    <td>MIBR</td> 
    <td>Cloud9</td>
  </tr>
  <tr>
    <td>3</td>
    <td>1</td>
  </tr>
</table>
<h2  class="nav-link" routerLink="/match/2" routerLinkActive="active">Match 2</h2>
<p>(MAPLIST) ASCENT. DESCENT. WAREHOUSE.</p>
<table>

  <tr>
    <th>BEST OF</th>
    <th>5</th>
  </tr>
  <tr>
    <td>NIP</td> 
    <td>TSM</td>
  </tr>
  <tr>
    <td>3</td>
    <td>2</td>
  </tr>
</table>

<h2  class="nav-link" routerLink="/match/3" routerLinkActive="active">Match 3</h2>
<p>(MAPLIST) ASCENT. DESCENT. WAREHOUSE.</p>
<table>

  <tr>
    <th>BEST OF</th>
    <th>7</th>
  </tr>
  <tr>
    <td>FAZE</td> 
    <td>Teamz</td>
  </tr>
  <tr>
    <td>4</td>
    <td>3</td>
  </tr>
</table>

<h2  class="nav-link" routerLink="/match/4" routerLinkActive="active">Match 4</h2>
<p>(MAPLIST) ASCENT. DESCENT. WAREHOUSE.</p>
<table>

  <tr>
    <th>BEST OF</th>
    <th>5</th>
  </tr>
  <tr>
    <td>YES</td> 
    <td>Cloud9</td>
  </tr>
  <tr>
    <td>1</td>
    <td>3</td>
  </tr>
</table>




