<div>
    <div class="overlay" *ngIf="show != -1">
        <div class="overlay-content">
            <h1 style="text-align: center;">New Team</h1>
            <input type="string" [(ngModel)]="event.teams[show].teamName" style="width: 100%; height: 2em; text-align: center;" />
            <div class="grid">
                <p class="overlay-element">Player 1</p>
                <input class="overlay-element" [(ngModel)]="players[0]" type="string" />
                <p class="overlay-element">Player 2</p>
                <input class="overlay-element" [(ngModel)]="players[1]" type="string" />
                <p class="overlay-element">Player 3</p>
                <input class="overlay-element" [(ngModel)]="players[2]" type="string" />
                <p class="overlay-element">Player 4</p>
                <input class="overlay-element" [(ngModel)]="players[3]" type="string" />
                <p class="overlay-element">Player 5</p>
                <input class="overlay-element" [(ngModel)]="players[4]" type="string" />
            </div>
            <button (click)="closeOverlay()">X</button>
            <button (click)="saveTeam()">Save Team</button>
        </div>
    </div>
    <ng-container *ngIf="event && teams">
        <button (click)="view(event._id)">View</button>
        <form class="container">
            <div class="row" style="width: 100%; position: relative; height: fit-content; border: 3px dashed pink">
                <datalist id="teams">
                <div *ngFor="let team of teams">
                    <option value='{{team.name}}'></option>
                </div>
            </datalist>
                <div class="team-selection" style="border: 3px dashed blueviolet; width: 25%; height: 95%; display: flex; flex-direction: column; align-items: center;">
                    <div style="overflow-y: scroll; height: 100%; width: 100%;">
                        <div *ngFor="let team of event.teams; let i = index">
                            <input type="text" placeholder="New Team" list="teams" (change)="selectedTeam($event, i)" value="{{team.name}}" style="width: 85%;">
                            <button (click)="removeTeam(i)" style="width: 15%; height: 2em">-</button>
                        </div>
                    </div>
                    <button (click)="addTeam()" style="width: 100%">Add Team</button>
                </div>
                <div style="border: 3px dashed red; width: 50%;">
                    <p style="text-align: center;">Date Created: {{event.dateCreated}}</p>
                    <h2>
                        <input type="string" [value]="event.name" style="width: 100%; text-align: center;" />
                    </h2>
                    <div class="grid">
                        <label style="text-align: right; padding-right: 2em;">Start Date:</label>
                        <input type="date" [value]="event.startDate" />
                    </div>
                    <div class="grid">
                        <label style="text-align: right; padding-right: 2em;">End Date:</label>
                        <input type="date" [value]="event.endDate" />
                    </div>
                    <div class="grid">
                        <label style="text-align: right; padding-right: 2em;">Watch Link:</label>
                        <input type="string" [value]="event.watchLink" />
                    </div>
                    <div class="grid">
                        <label style="text-align: right; padding-right: 2em;">winner:</label>
                        <select [value]="event.winner">
                        <option disabled value="" [selected]="!event.winner"> Select Team </option>
                        <option *ngFor="let team of event.teams" [selected]="(team.name == event.winner) && (team.name)">{{team.name}}</option>
                    </select>
                    </div>
                    <div class="grid">
                        <label style="text-align: right; padding-right: 2em;">Verified: {{event.verified}}</label>
                        <button>Get Event Verified</button>
                    </div>
                    <div class="grid">
                        <label style="text-align: right; padding-right: 2em;">Featured: {{event.featured}}</label>
                        <button>Get Event Featured</button>
                    </div>
                </div>
                <div style="border: 3px dashed green; position: absolute; width: 25%; left: 75%; display: flex; justify-content: center;">
                    <button (click)="saveEvent()" style="height: 3em; width: 5em;">Save</button>
                </div>
            </div>
            <div style="width: 100%;" *ngFor="let bracket of event.brackets; let i=index">
                <div class="row">
                    <input type="text" name="name{{i}}" placeholder="Bracket Name" [(ngModel)]="bracket.name">
                    <button (click)="removeBracket(i)" style="color: white; background-color: maroon;">Delete Bracket</button>
                </div>
                <div class="row" style="padding-bottom: 0px ">
                    <button (click)="decrement(i) ">-</button>
                    <div class="centre">{{bracket.matches.length}} Matches</div>
                    <button (click)="increment(i) ">+</button>
                </div>
                <app-bracket-edit [matches]="bracket.matches" [teams]="event.teams" (updateBracket)="receiveUpdate($event)" [bracketIndex]="i"></app-bracket-edit>
            </div>
            <button (click)="addBracket() ">Add Bracket</button>
        </form>
    </ng-container>
    <ng-container *ngIf="!event">
        <h1>Loading...</h1>
    </ng-container>
</div>